.container1
{
    display: flex;
}

.leftcontainer
{
width: 20%;
}

.leftcontainer > ul
{
    display: flex;
    flex-direction: column;
}

.leftcontainer > ul > li
{
    background-color: chocolate;
    margin: .3rem .2rem;
    list-style: none;
}

.rightcontainer
{
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    width: 80%;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.mybox
{
    background-color: red;
    border:1px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.container2
{
    background-color: coral;
    display: flex;
    flex-direction: row;
}

.container2 > .left
{
    width: 30%;
}


.container2 > .right
{
 display: flex;
 flex-direction: column;
 width: 70%;
}

.container2 > .right > div  > .span-h1
{
    font-size: 3rem;
}

.container2 > .right > div  > .span-h2
{
    font-size: 2rem;
}

.container3
{
    background-color: cyan;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container4
{
    background-color:green;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:flex-end;
    justify-content: center;
}